[submodule "libs/XML-Utilities"]
	path = libs/XML-Utilities
	url = git://github.com/RUB-NDS/WS-Attacker-Library_XML-Utilities.git
[submodule "libs/Intelligent_Denial_of_Service_Library"]
	path = libs/Intelligent_Denial_of_Service_Library
	url = git://github.com/RUB-NDS/WS-Attacker-Library_Intelligent_Denial_of_Service_Library.git
