dependency-reduced-pom.xml
doc/*.aux
doc/*._aux
doc/*.bbl
doc/*.blg
doc/*.fdb_latexmk
doc/*.fls
doc/*.lof
doc/*.log
doc/*._log
doc/*.out
doc/*.pdf
doc/*.synctex.gz
doc/*.tex.project.vim
doc/*.toc
framework/target
libs/*/target
*.log
nbactions.xml
nb-configuration.xml
plugins/*/target
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
runnable/*jar
runnable/lib/*jar
runnable/plugins/*jar
*.swo
*.swp
target/
framework/wsattacker_config.xml
